# Python Assignment 1

# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+

6

#ANSWER: 

VALUES:

'hello' : This is a string value.
-87.8   : This is a float value.
6       : This is an integer value


EXPRESSION:

*  : multiplication operator
-  : subtraction operator
/  : division operator
+  : addition operator

# 2. What is the difference between string and variable?

1] String : Strings are data which we can use them to fill up a variable.

In [1]:
text = "Hello Sakshi"
print(text)

Hello Sakshi

Here, the string "Hello Sakshi" is stored in the variable text.
when we print the variable text, it displays the string "Hello Sakshi".

2] Variable : Variable is name location which is used to store data in memory.

In [2]:
name = "Sakshi"
print(name)

Sakshi

Here, the variable name holds the string value "Sakshi"
when I print the name variable then it displays the string "Sakshi".

# 3. Describe three different data types.

1] Integer : They are whole numbers, without a fractional component. 
              They can be positive or negative.

#example : 

age = 22
numer of students = 30

In [3]:
a=22
type(a)

int

2] Float: It represent real numbers and are written with a decimal point.

#example : 

percentage = 94.60
pi = 3.14

In [4]:
b=3.14
type(b)

float

3] String : They are sequences of character data. 
            They are created by enclosing characters in quotes.

#example : 

name = "sakshi"
city = "Pune"

In [5]:
c="sakshi"
type(c)

str

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and calls to functions.

The purpose of expression is to produce a value

They are used to perform computations, manipulate data, and generate results.

Expressions can involve arithmetic operations like addition, subtraction, multiplication, division, etc. 
comparison operator like equality, greater than, less than, etc. 
logical operations like and, or, not, and more.

In [6]:
a=6
b=4

print(a + b)

print(a - b)

print(a / b)

print(a * b)

print(a ** b)

print(a // b)

print(a < b)

print(a > b)

print(a > b)

print(a == b)

print(a != b)

print(a >= b)

print(a <= b)

10
2
1.5
24
1296
1
False
True
True
False
True
True
False


# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

The main difference between an expression and a statement is their purpose and behavior within program.

1]Expression:

An expression is a combination of values, variables, operators, and function calls that evaluates to a single value.
Examples of expressions include mathematical operations (2 + 3).

2]Statement:
    
A statement is a complete instruction that performs an action or controls the flow of a program.
It contain expressions as part of its execution.
Example of statement include variable assignments (spam = 10).

# 6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [7]:
bacon = 22
bacon + 1

23

The variable bacon will still contain the value 22.
The expression bacon + 1 evaluates to 23, but it is not assigned to any variable.

# 7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam'*3

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Variable name must follow specific rules and conventions. That's why eggs is a valid variable name while 100 is invalid:

Valid Characters:
Variable names can contain letters both uppercase and lowercase, digits, and underscores (_).
The first character of a variable name cannot be a digit.

Therefore, eggs is a valid variable name as it doesn't start with a digit.
100 is an invalid variable name because it starts with a digit. 
We know that Variable names must begin with a letter or an underscore.

In [10]:
suppose = 5

In [11]:
123suppose = 55

SyntaxError: invalid decimal literal (343707926.py, line 1)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
a = 52.12
int(a)

52

In [13]:
a = 52.12
str(a)

'52.12'

In [14]:
a = 52.12
float(a)

52.12

# 10. Why does this expression cause an error? How can you fix it?

'I have eaten' +99+ 'burritos'

In [15]:
'I have eaten' +99+ 'burritos'

TypeError: can only concatenate str (not "int") to str

In [16]:
' I have eaten ' + str (99) + ' burritos '

' I have eaten 99 burritos '